<div class="card" ng-controller="cartCtrl">
    <div class="card-body ps-5 row">
        <div class="col-4 pe-0">
            <img class="shoppingcart_image img-fluid" src="/src/images/banner/shoppingcart.gif" alt="image error">
        </div>
        <div class="col ps-0 d-flex justify-content-center">
            <ul class="ps-0" id="cart_shopping_text">
                <li>
                    <h1>{{totalItemInCart}}</h1>
                </li>
                <li><a href="#!cart">View Cart</a></li>
            </ul>
        </div>
    </div>
</div>